@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');
body {
	background: #fff;
	background-repeat: repeat-x;
	font-family: 'Hind', sans-serif;
	color:#666 !important;
}
.wrap {
	background: #fff;
}
.login {
	padding: 2px 4px;
	color: #fff !important;
}
h3 {
	background: #d5d5d5 none repeat scroll 0 0;
	color: #000000;
	font-size: 18px;
	margin-bottom: 8px;
	margin-top: 5px !important;
	padding: 6px 10px !important;
}
/*TOP NAV SECTION*/
.dropdown > a:after {
	content: "\f0d7";
	font-family: "FontAwesome";
	margin-left: 6px;
}
.home > a::after {
	content: "\f015";
	font-family: "FontAwesome";
}
.top-nav {
	background-color: #d8d8d8;
	border-top: 5px solid transparent;
	border-image: url(../images/top-border.png) 30 30 30 30 round round;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.45), 0px 1px 6px 0px rgba(0, 0, 0, 0.12) !important;
	padding: 2px 0px;
	z-index: 999999 !important;
	position: relative;
	border-bottom: 0px;
}
.top-nav .time {
	float: left;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	margin-top: 4px;
}
.top-nav .time i {
	font-size: 13px;
}
.top-nav ul {
	margin: 0px;
	padding: 0px;
}
.top-nav li {
	list-style-type: none;
	font-size: 13px;
	text-align: right;
	padding-right: 6px;
	padding-left: 6px;
	display: inline-block !important;
}
.top-nav li:nth-child(1) {
	border-right: solid 1px #898787;
}
.top-nav li:nth-child(2) {
	border-right: solid 1px #898787;
}
.top-nav li:nth-child(3) {
	border-right: solid 1px #898787;
}
.top-nav li:nth-child(4) {
	padding-left: 2px;
	padding-right: 2px;
}
.top-nav li:nth-child(5) {
	padding-left: 2px;
	padding-right: 2px;
}
.top-nav li:nth-child(6) {
	padding-left: 2px;
	padding-right: 2px;
}
.top-nav li:nth-child(7) {
	padding-left: 2px;
	padding-right: 2px;
}
.top-nav li:nth-child(8) {
	padding-left: 2px;
	padding-right: 2px;
}
.top-nav li:nth-child(9) {
	padding-left: 2px;
	padding-right: 2px;
}
.top-nav li:nth-child(10) {
	padding-left: 0px;
	padding-right: 2px;
}
.top-nav li a {
	color: #000000;
}
.top-nav li a:hover {
	text-decoration: none;
}
.top-nav .btn-xs {
	padding: 2px 4px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 0px;
	border: solid 1px;
	background-color: #fff;
	color: #000;
	cursor: pointer;
}
.top-nav .btn-block {
	padding: 2px 4px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 0px;
	border: solid 1px;
	background-color: #000;
	color: #fff;
	cursor: pointer;
}
.top-nav .btn-yellow {
	padding: 2px 4px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 0px;
	border: solid 1px;
	background-color: #f6d20a;
	color: #000;
	cursor: pointer;
}
.top-nav .btn-red {
	padding: 2px 4px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 0px;
	border: solid 1px;
	background-color: #f6d20a;
	color: #d43f3a;
	cursor: pointer;
}
.top-nav .input-sm {
	height: 25px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 0px;
	display: inline-block !important;
}
.navbar-default {
	background-color: #950101;
	border-color: #950101;
}
.btn-warning {
	color: #fff;
	background-color: #dba606;
	border-color: #d09d02;
}
.btn-group-lg > .btn, .btn-lg {
	border-radius: 0px;
}
/*LOGO SECTION*/
.logo-section {
	position: relative;
	padding: 0px 0px;
	background-color: #FFF;
}
.logo-section .logo {
	padding: 5px 0px;
}
.logo-section .custom-search-form {
	margin-top: 10px;
	background: #dad7db;
	padding: 15px;
}
.logo-right {
	padding-top: 6px;
	float: right;
}
/*SECTION-NAVBAR	*/
.nav > li > a {
	padding: 15px 15px !important;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: -25px;
	z-index: 99999;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0px;
	margin: 2px 0px 0px;
	font-size: 14px;
	border-radius: 0px;
	border-bottom: solid 3px #380C21;
	width: 230px;
}
.dropdown-menu > li > a {
	padding: 6px !important;
	border-bottom: solid 1px rgba(0, 0, 0, 0.11);
}
.caret {
	vertical-align: middle;
	border-top: 5px dashed;
	margin-left: 0px;
	margin-top: 6px;
	border-left: 5px solid transparent;
	border-right: transparent !important;
	color: #CB990A;
}
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}
.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}
.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
.dropdown-menu > li > a {
	white-space: pre-line !important;
}
.dropdown-submenu {
	position: relative;
}
.dropdown-menu {
	box-shadow: none !important;
}
.dropdown-submenu > .dropdown-menu {
	left: 100%;
	margin-left: 0;
	margin-top: 0;
	top: 0;
}
.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}
.dropdown-submenu > a::after {
	border-color: transparent transparent transparent #000000;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	content: " ";
	display: block;
	float: right;
	height: 0;
	margin-right: 0;
	margin-top: 5px;
	width: 0;
}
.dropdown-submenu:hover > a::after {
	border-left-color: #000000;
}
.no-gutter > [class*="col-"] {
 padding-left: 0;
 padding-right: 0;
}
.pink {
	background-color: #ffb5e4;
}
.dropdown-menu > li > a:hover {
	background-color: #ec971f !important;
	color: #fff;
}
/*slider*/
.slider {
	background-image: url(../images/sliderbg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	padding: 15px 0px;
}
.slider .container {
	padding: 10px;
	background-color: rgba(255,255,255,.5);
}
/* Carousel Styles */


.carousel-inner img {
	width: 100%;
	max-height: 460px
}
/*about*/

.about-section {
	background-color: #EEEEEE;
	padding: 15px 0px;
}
.about-section .content {
	min-height: 458px;
	background-color: #fff;
	padding: 0px 15px 15px 15px;
}
.main-heading {
	font-family: 'Hind', sans-serif;
	font-size: 1.869em;
	color: #000;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	padding-top: 10px;
}
.main-heading::first-letter {
	color: #D54248;
}
.leader {
}
.leader .photo img {
	border: 2px solid rgb(172, 210, 248);
	height: 130px;
}
.leader .photo {
	background-color: #fff;
	border: 1px solid #f5f0f0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	display: block;
	margin-bottom: 10px;
	padding: 8px 5px 2px 5px;
	text-align: center;
	min-height: 225px;
}
.leader .photo .caption {
	color: #333;
	padding: 3px 9px 0px 9px;
}
.leader .photo .caption h3 {
	color: #D54248;
	font-family: "Hind", sans-serif;
	font-size: 1.2em;
	margin-bottom: 5px;
	margin-top: 0;
}
.leader .photo .caption p {
	color: #3f3e3e;
	font-size: 0.996em;
	font-weight: 500;
	margin: 0;
}
.about {
	padding: 15px 0px;
}
.about h2 {
	color: #950101;
	font-size: 1.8em;
	text-transform: capitalize;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 10px;
	font-weight: 500;
	border-bottom: solid 1px #ccc;
	padding-bottom: 10px;
	font-family: 'Hind', sans-serif;
}
.about p {
	color: #666;
	/*text-align: justify;*/
}
.about .well {
	margin-bottom: 0px;
	min-height: 473px;
	box-shadow: 0px 0px 3px rgba(0,0,0,.5);
}
.about .photo img {
	border: 3px solid rgb(43, 81, 107);
	width: 70%;
}
.about .photo {
	padding: 8px 5px;
	display: block;
	background-color: #fff;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	border: 1px solid #f5f0f0;
	text-align: center;
}
.about .photo .caption {
	padding: 9px;
	color: #333;
}
.about .photo .caption h3 {
	font-size: 16px;
	color: #2b516b;
	font-family: 'Hind', sans-serif;
	margin-top: 0px;
	margin-bottom: 5px;
}
.about .photo .caption p {
	margin: 0 0 0px;
	color: #3f3e3e;
	font-size: 14px;
	font-weight: 500;
}
.about-links .button-group .btn {
    font-size: 1.135em;
    font-family: 'Hind', sans-serif;
	margin-bottom: 7px;
	text-align: left;
	white-space: inherit;
	padding: 6px 10px;
}
.about-links .button-group .fa {
    font-size: 24px;
    width: 27px;
    text-align: center;
}
.about-links .panel {
	margin-bottom: 6px;
}
.about-links .panel-danger > .panel-heading {
	color: #fff;
	background-color: #950101;
	border-color: #950101;
	font-size: 1.568em;
}
.about-links .panel-danger > .panel-heading .fa {
	font-size: 24px;
}
.about-links .panel ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	margin-left: -15px;
	margin-right: -15px;
}
.about-links .panel ul li a {
	padding: 10px 10px;
	border-bottom: 1px solid #eaeaea;
	display: block;
	color: #333;
	transition-duration: .2s;
}
.about-links .panel ul li a:hover {
	color: #950101;
	text-decoration: none;
	background-color: #eaeaea;
}
.about-links .panel ul li a:before {
	content: "\f105";
	font-family: "FontAwesome";
	margin-right: 10px;
}
/*services*/
.project .container {
	background: #fff;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.project h2 {
	color: #950101;
	font-size: 33px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 25px;
	font-family: 'Hind', sans-serif;
	font-weight: 500;
}
.project h2:before {
	content: url(../images/h1-left.png);
	margin-right: 20px;
	vertical-align: middle;
}
.project h2:after {
	content: url(../images/h1-right.png);
	margin-left: 20px;
	vertical-align: middle;
}
.project img {
	padding: 3px;
	width: 100%;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
}
.projectdiv {
	border: 4px solid #ccc;
	overflow: hidden;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.projectdiv:hover {
	border: 4px solid #D54248;
	box-shadow: 0px 0px 6px rgba(0,0,0,.7);
}
.projectdiv:hover .proimg {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.project h4 {
	color: #D54248;
	font-family: 'Hind', sans-serif;
	font-weight: 500;
	font-size: 1.496em;
	text-align: center;
	padding: 0px 10px;
}
.project p {
	text-align: center;
	padding: 0px 10px;
}
project col-md-3 {
	width: 20%;
}
.project .btn {
	border-radius: 0px;
}
.project .btn-warning {
	background: rgb(252,234,187); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=0 );
	color: #000;
}
/*services*/
.services {
	padding: 15px 0px;
}
.services h1 {
	color: #979797;
	font-size: 2.6em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 30px;
	font-family: 'Hind', sans-serif;
}
.services h1:before {
	content: url(../images/h1-left.png);
	margin-right: 20px;
}
.services h1:after {
	content: url(../images/h1-right.png);
	margin-left: 20px;
}
.services .caption {
	background-color: rgba(0,0,0,0.51);
	padding: 5px 0px;
	text-align: center;
	z-index: 9999;
	position: relative;
	margin-top: -48px;
}
.services .caption h3 {
	color: #fff;
	font-size: 17px;
}
.services .thumbnail {
	margin-bottom: 0px;
	overflow: hidden;
	position: relative;
}
.services .thumbnail .mask {
	position: absolute; /* Center the mask */
	top: 50px;
	left: 100px;
	cursor: pointer;
	border-radius: 50px;
	border-width: 50px;
	display: inline-block;
	height: 100px;
	width: 100px;
	border: 50px solid rgba(2, 2, 2, 0.2);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	opacity: 1;
	visibility: visible;
	-moz-transform: scale(4);
	-webkit-transform: scale(4);
	-o-transform: scale(4);
	-ms-transform: scale(4);
	transform: scale(4);
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.services .thumbnail:hover .mask {
	opacity: 0;
	border: 0px solid rgba(0,0,0,0.7);
	visibility: hidden;
}
.services .thumbnail img {
	display: block;
	position: relative;
}
/*news-box*/
#ticker1 {
	overflow-x: hidden !important;
}
.news .panel {
	border: 0px;
	box-shadow: 0px 0px 3px rgba(0,0,0,.5);
}
.news {
	position: relative;
}
.news .panel-warning > .panel-heading {
	color: #fff;
	background-color: #118BB2;
	border-color: #289EC3;
	font-size: 1.568em;
	height: auto;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: 500;
}
.play-pause {
	float: right;
	font-size: 12px;
}
.news-panel {
	list-style: none;
	height: 349px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
.arw {
	padding-right: 10px;
	color: #BC3C3D;
}
.dtype {
	padding-left: 10px;
	color: #0E73B6;
}
.ndate {
	color: #8a6d3b;
	padding-bottom: 5px;
}
.news-item {
	margin: 0px;
	padding: 0px 10px;
	border-bottom: 1px solid #e4e4e4;
}
.news-item p {
	margin: 4px 0px 4px;
}
.news-panel .arw {
	color: #0c085f;
	display: none;
	padding-right: 10px;
}
.news-panel .adtext {
	color: #5F5F5F;
	display: inline-block;
	padding-top: 10px;
}
.news-panel .ndate {
	color: #000;
	display: block;
}
.news-panel .ndate:before {
	color: #950000;
	content: "\f133";
	font-family: "FontAwesome";
	padding-right: 2px;
}
.news-panel .dtype {
	color: #1e69a2;
	display: block;
	padding-left: 0px;
}
.news-panel .fa-file-pdf-o {
	display: none;
}
.news-panel .dsize {
	display: block;
	color: #1E69A2;
}
.news-panel .dsize::before {
	color: #1E69A2;
	content: "\f1c1";
	font-family: "FontAwesome";
	padding-right: 2px;
}
.ticker li::before {
	position: absolute;
	z-index: 0;
}
.news-item a::before {
	color: #000;
	content: "\f0da";
	font-family: "FontAwesome";
	margin-left: -10px;
	margin-right: 5px;
	margin-top: 2px;
	position: relative;
	z-index: 0;
}
.weblink {
	background-color: #EEEEEE;
}
/*important-link*/
.important-link {
	padding: 15px 0px;
}
.important-link h1 {
	color: #979797;
	font-size: 2.6em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 30px;
	font-family: 'Hind', sans-serif;
}
.important-link h1:before {
	content: url(../images/h1-left.png);
	margin-right: 20px;
}
.important-link h1:after {
	content: url(../images/h1-right.png);
	margin-left: 20px;
}
/*important-link*/
.important-link .item {
	border: 1px solid #ccc;
	float: left;
	margin: 0 15px;
	padding: 0px 0;
	width: 199px;
	height: 67px;
	background-color: rgba(255,255,255,.5);
	transition-duration: .2s;
}
.important-link .item img {
	width: 100%;
}
.important-link .item:hover {
	background-color: rgba(255,255,255,1)
}
.important-link .left-nav-btn, .right-nav-btn {
	cursor: pointer;
	height: 37px;
	opacity: 0.8;
	position: absolute;
	top: 27px;
	transition: opacity 0.2s linear 0s;
	width: 37px;
}
.important-link .left-nav-btn {
	background-image: url("../images/rightarrow.png");
	background-position: center center;
	background-repeat: no-repeat;
	left: -15px;
}
.important-link .right-nav-btn {
	background-image: url("../images/leftarrow.png");
	background-position: center center;
	background-repeat: no-repeat;
	right: -15px;
}
.important-link .left-nav-btn:hover, .right-nav-btn:hover {
	opacity: 1;
}
.important-link .outerWrapper {
	margin: 0px auto 10px auto;
	padding: 10px 15px;
	position: relative;
	text-align: left;
}
.modal-header {
	background-color: #e5e8a1;
}
.modal-footer {
	background-color: #e4e4e4;
}
/*footer*/
.footer {
	background-color: #2C2D32;
	color: #eee;
	padding: 6px 0px;
	position: relative;
	bottom: 0;
	width: 100%;
	border-top: 3px solid #ffbc07;
}
.footer-left a {
	color: #eee;
	text-decoration: none;
	margin-right: 5px;
	margin-left: 5px;
	font-size: 13px;
}
.footer-left a:hover {
	color: #fff;
}
.footer-text, .copyright {
	font-size: 0.896em;
	color: #eee;
	text-decoration: none;
	margin-top: 10px;
	margin-left: 5px;
	line-height:22px;
}
.footer-right {
	font-size: 0.896em;
	text-decoration: none;
	text-align: right;
}
.visitor, .updated {
	color: #eee;
	text-decoration: none;
	margin-bottom: 10px;
}
.heading2 {
	border-bottom: 3px solid #127A9C;
	color: #666666;
	margin-bottom: 10px !important;
	padding-bottom: 10px !important;
	margin-top: 5px !important;
}
.heading3 {
	background: #950101 none repeat scroll 0 0;
	color: #fff;
	font-size: 17px;
	margin-bottom: 8px;
	padding: 6px 10px !important;
	margin-top: 5px !important;
}
.heading4 {
	font-weight: normal;
	text-transform: uppercase;
	color: #295981;
}
.sitemap {
	margin: 0 15px;
}
.sitemap ul {
	background: transparent url("../images/site_map_ul.gif") repeat-y scroll 0 -5px !important;
	list-style-type: none !important;
	margin: 0 !important;
	padding: 0 5px 4px 6px !important;
	position: relative !important;
}
.sitemap ul li {
	background: transparent url("../images/site_map_list.gif") no-repeat scroll -5px -5px !important;
	line-height: 16px !important;
	padding: 0 0 0 10px !important;
}
.sitemap ul {
	background: rgba(0, 0, 0, 0) url("../images/site_map_ul.gif") repeat-y scroll 10px -5px;
	list-style-type: none;
	margin: 0;
	padding: 0 5px 4px 10px;
	position: relative;
}
.sitemap ul li {
	font: bold 10pt arial;
	margin: 10px 0;
}
.sitemap ul li a {
	color: #0c3156;
	display: inline-block;
	transition-duration: 0.3s;
	padding: 5px;
	border: 1px solid #ccc;
	background-color: antiquewhite;
}
.sitemap ul li a:hover {
	color: #fff;
	padding-left: 5px;
	background-color: #C30;
	text-decoration: none;
}
.sitemap ul li ul {
	padding-bottom: 1px;
}
.sitemap ul li ul li {
	font: 10pt arial;
}
.pagebody {
	background-image: url(../Images/newsbg.jpg);
	background-attachment: fixed;
	background-position: top center;
}
.inner-page {
	padding: 15px 0px;
}
.inner-page .well {
	margin-left: -15px;
	min-height: 472px;
}
.inner-right .panel-warning > .panel-heading {
	color: #fff;
	background-color: #ff6600;
	border-color: #ff6600;
	font-family: 'Hind', sans-serif;
	font-weight: 400;
	font-size: 20px;
	height: auto;
	overflow: hidden;
}
.breadcrumb {
	padding: 0px 0px 10px 0px;
	margin-bottom: 0px !important;
	;
	list-style: none;
	background-color: rgba(255,255,255,.0) !important;
	border-radius: 0px !important;
	margin-top: 15px;
	border-bottom: 1px solid #fff;
}
.breadcrumb a {
	color: #FFF506;
}
.breadcrumb .active {
	color: #000;
}
.list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.list li {
	padding-left: 15px;
	margin-bottom: 8px;
}
.list li:before {
	content: "\f054";
	font-family: 'FontAwesome';
	color: #BB2828;
	font-size: 12px;
	margin-left: -15px;
	margin-right: 6px;
}
.pwdFxd {
	position: fixed;
	top: 0px;
	width: 100%
}
.citizen {
	background: #E8E8E8 none repeat scroll 0 0;
	padding: 35px 0;
	text-align: center;
}
.citizen h1 {
	color: #000;
	font-family: 'Hind', sans-serif;
	font-weight: 500;
	font-size: 33px;
	margin-bottom: 25px;
	margin-top: 0;
	text-align: center;
}
.citizen h1::before {
	content: url("../images/h1-left.png");
	margin-right: 20px;
}
.citizen h1::after {
	content: url("../images/h1-right.png");
	margin-left: 20px;
}
.circle {
	margin: 0 auto;
	padding-left: 0px;
	position: relative;
	text-align: center;
}
.circle li {
	background: #fff none repeat scroll 0 0;
	border: 5px solid #f6f6f6;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	float: left;
	height: 129px;
	margin-right: 7px;
	overflow: hidden;
	position: relative;
	width: 110px;
}
.circle li:last-child {
	margin-right: 0;
}
.circle li a {
	color: #333;
	display: block;
	height: 100%;
	position: relative;
	text-align: center;
	width: 100%;
}
.circle i {
	font-size: 40px;
	height: 60px;
	left: 0;
	line-height: 60px;
	position: absolute;
	text-align: center;
	top: 20px;
	transition: all 400ms linear 0s;
	width: 100%;
}
.blue {
	color: #375782;
}
.sky {
	color: #2c80ba;
}
.yellow {
	color: #ffb422;
}
.teal {
	color: #00b499;
}
.red {
	color: #b73232;
}
.org {
	color: #eb5427;
}
.green {
	color: #42ae42;
}
.ca-main {
	font-size: 0.896em;
	height: 65px;
	left: 50%;
	margin-left: -60px;
	opacity: 0.8;
	position: absolute;
	text-align: center;
	top: 70px;
	width: 126px;
}
.ca-sub {
	color: #000;
	font-size: 0.896em;
	height: 80px;
	left: 50%;
	margin-left: -70px;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 70px;
	width: 142px;
}
.circle li:hover {
	background: #f7f7f7 none repeat scroll 0 0;
	border-color: #fff;
	box-shadow: 0 45px 60px -50px #000000;
	transform: rotate(360deg);
}
.circle li:hover i {
	color: #555;
	font-size: 50px;
}
.circle li:hover .ca-main {
	display: none;
}
.circle li:hover .ca-sub {
	opacity: 0.8;
}
/*footer*/
@media (max-width:1400px) {
.navbar-collapse {
	padding-right: 0px;
	padding-left: 0px;
}
}
 @media (max-width:700px) {
.navbar-collapse {
	padding-right: 15px;
	padding-left: 15px;
}
}
 @media (max-width:640px) {
.footer-left {
	text-align: center;
}
.services h1 {
	font-size: 1.5em;
}
.citizen h1 {
	font-size: 1.5em;
}
.circle li {
	width: 48%;
	height: 134px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-right: 0px;
}
.circle {
	padding-left: 5px;
}
.about .button-group {
	margin-right: 0px;
}
.news {
	position: relative;
	margin-top: 0px;
}
project col-md-3 {
	width: 100%;
}
.project h2 {
	font-size: 27px;
}
}
@media (min-width:641px) and (max-width:1023px) {
project col-md-3 {
	width: 50%;
}
}
/*.filter-box {
	background: #ededed none repeat scroll 0 0;
	border: 1px solid #cfcfcf;
	box-sizing: border-box;
	margin-bottom: 5px !important;
	margin-left: 0 !important;
	width: 100% !important;
}
.filter-box td {
	padding: 10px;
	color: #000;
}
.filter-box input[type="submit"] {
	background: #177ebe none repeat scroll 0 0;
	border: 0 solid red;
	color: white;
	padding: 7px 10px;
	width: 100%;
}
.filter-box input[type="text"]:focus {
	border: 1px solid #177ebe;
	color: #177ebe;
}
.filter-box input[type="text"] {
	border: 1px solid #b3b3b3;
	padding: 5px;
}
.filter-box select {
	border: 1px solid #abaaaa;
	padding: 5px;
}*/

.nzletter-list {
	margin: auto !important;
	padding-left: 0;
	width: 100%;
}
.nzletter-list li {
	background: rgb(248, 248, 248) none repeat scroll 0 0;
	border: 1px solid rgb(228, 228, 228);
	display: inline-block;
	list-style: outside none none;
	margin: 5px 10px;
	padding: 10px 15px 0px 15px;
	text-align: center;
	width: 22.9%;
	float: left;
	min-height: 370px;
}
.nzletter-list li img {
}
.nzletter-list li a {
	display: block;
}
.nzletter-list p {
	color: #000;
	text-align: center;
}
.nzletter-list strong {
	color: #063bc0;
	display: inline-block;
	font-family: raleway;
	font-weight: normal;
	margin: 6px 0;
}
.nzletter-list b {
	font-family: arial;
	font-size: 8pt;/* text-align: center; */
}
.nzletter-list span {
	display: block;
}
.nzletter-list strong i {
	color: rgb(186, 44, 44);
}
.Prsrls-list {
	margin: auto !important;
	padding-left: 0;
	width: 98%;
}
.Prsrls-list li {
	background: #f8f8f8 none repeat scroll 0 0;
	border: 1px solid #e4e4e4;
	display: inline-block;
	list-style: outside none none;
	margin: 5px 10px;
	padding: 15px;
	text-align: center;
	width: 22%;
}
.Prsrls-list li img {
}
.Prsrls-list li a {
	display: block;
}
.Prsrls-list p {
}
.Prsrls-list strong {
	color: #06916e;
	display: inline-block;
	font-family: raleway;
	font-weight: normal;
	margin: 6px 0;
	min-height: 57px;
}
.Prsrls-list b {
	font-family: arial;
	font-size: 8pt;
}
.Prsrls-list span {
	display: block;
}
.Prsrls-list strong i {
	color: #ba2c2c;
}
.pdf-size {
	color: #000;
	font-size: 12px;
	display: block;
}
.pdf-size::before {
	color: #d32f2f;
	content:"\f1c1";
	font-family: "FontAwesome";
	margin: 0 5px;
}
.menu .navbar{
	min-height:inherit;
}
.content p {
	line-height:25px;
}

.well p {
	line-height:25px;
}
.breadcrumb {
    background-color: rgba(116, 116, 116, 0.49);
    border: 1px solid rgba(255, 255, 255, 0.14);
    border-radius: 0;
    list-style: outside none none;
    margin-bottom: 20px;
    padding: 8px 15px;
    font-family: 'Hind', sans-serif;
}
.breadcrumb > li a{color: #fff;}
.breadcrumb > li {
    color: #fff;
    display: inline-block;
}
.breadcrumb > .active{ color:#FFD90A;}
.breadcrumb > li + li::before {
    color: #cccccc;
    content: "";
    padding: 0 5px;
}
.time {
    background: url(../images/top-clock-img.png) 0px 0px no-repeat;
    padding: 0px 0px 0px 25px;
        padding-top: 0px;
}
